# agent
agent/venv/
agent/.env
agent/.env.bak
agent/eval-report.json
__pycache__/
*.pyc
.pytest_cache/

# vagrant
testbed/.vagrant/
LogIntel/manual-testbed/.vagrant/
LogIntel/testbed/.vagrant/

# ui
ui/node_modules/
ui/dist/
ui/.env
LogIntel/ui/node_modules/
LogIntel/ui/dist/
LogIntel/ui/.env
LogIntel/ui/.next/

pat.txt

#langgraph agent
langgraph-agent/venv/
langgraph-agent/.env
langgraph-agent/__pycache__/
langgraph-agent/*.pyc

